.section {
  padding: 10px;
  border-radius: 12px;
  border: 1px solid #eee;
  margin-bottom: 16px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  justify-self: start;
  width: 400px;
}

h2{
  text-align: center;
}
.feedback-buttons {
  display: flex;
  gap: 80px;
  flex-wrap: wrap;
}

.feedback-button {
  padding: 8px 16px;
  border-radius: 15px;
  border: 1px solid #ffbb00;
  cursor: pointer;
  font-weight: 600;
  background: #fafafa;
}
.feedback-button:hover {
  background: #ffbb00;
  color: #fff;
}
.statistics-list {
  list-style: none;
  line-height: 1.8;
}

.notification {
  color: #666;
}
